
<div class="main-container z-50 ">

  <div class="navbars flex justify-between items-center">


    <!-- Logo -->
    <div class="logo bg-white">

      <a routerLink="" aria-current="page">
        <img src="/app/File/logo-pinacoteca.png" alt="logo" height="60px" width="60px" >
      </a>

    </div>



    <!-- Not Logged -->

    <ng-template #guest>
      <div class="guest">
        <a routerLink="/login">Login</a>
      </div>
    </ng-template>



    <!-- bottone menu -->
    <div class="menu-container bg-white align-items-center" *ngIf="isLogged; else guest">

      <div class="relative">

        <ng-template #placeholder >

          <div class="menu-toggle bg-white" (click)="toggleDropdown()">

            <div class="profile-img bg-white" >
              <img src="/app/File/logo-pinacoteca.png" class="bg-white img" alt="alt user profile picture">
            </div>

            <span>
              <div>
                <p class="bg-white">Username</p>
              </div>
            </span>
          </div>
        </ng-template>

        <div class="menu-toggle bg-white" (click)="toggleDropdown()" *ngIf="userData; else placeholder">

          <ng-template #altImg>
            <div class="profile-img bg-white" >
              <img src="./app/File/profile.jpeg" class="bg-white img" alt="user profile picture">
            </div>
          </ng-template>

          <div *ngIf="userData.url_pic != ''; else altImg" class="profile-img bg-white" >
            <img [src]="userData.url_pic" class="bg-white img" alt="user profile picture">
          </div>

          <span>
            <p class="bg-white">{{userData.nome}}</p>
          </span>

        </div>

        <!-- Dropdown menu -->
        <div [ngClass]="isDropdownOpen ? 'transition ease-ot duration-300 transform opacity-100 scale-100' :
                                     'transition ease-in duration-75 transform opacity-0 scale-95 pointer-events-none'"
             class=" z-10 menu">

          <ul class="text-sm mt-2 bg-white" aria-labelledby="dropdownDefaultButton">


            <li class="elements-list cursor-pointer" >
              <a (click)="goToManage()">
                <fa-icon class="icon" [icon]="faShop"></fa-icon>
                Gestisci Ordini
              </a>
            </li>

            <li class="elements-list cursor-pointer" *ngIf="isAdmin">
              <a (click)="goToAdminPage()">
                <fa-icon class="icon admin" [icon]="faTriangleExclamation"></fa-icon>
                Admin Panel
              </a>
            </li>

            <hr class="mt-2">

            <li class="elements-list mb-1.5">
              <a href="#" (click)="logout()">
                <fa-icon class="icon logout" [icon]="faArrowRightFromBracket"></fa-icon>
                Log out
              </a>
            </li>

          </ul>

        </div>

      </div>

    </div>

  </div>

</div>
