
<div class="container">

  <div class="wrapper">

    <h1>Login</h1>

    <div class="alert mt-3 text-center" role="alert" *ngIf="errorMessage.length">
      <p class="text-danger" *ngFor="let msg of errorMessage">{{msg}}</p>
    </div>



    <div class="input-box">
      <input  [(ngModel)]="authRequest.email"  type="email" placeholder="Email">
      <fa-icon  class="fa-solid fa-user icone"></fa-icon>
      <!-- Cambare icone  -->
    </div>


    <div class="input-box">
      <input [(ngModel)]="authRequest.password" type="password" placeholder="Password" (keydown.enter)="login()">
      <fa-icon  class="fa-solid fa-key icone"></fa-icon>
    </div>


    <br>

    <button (click)="login()" type="submit" class="btn btn-primary">Login</button>



    <div class="register-button">
      <p id="scritta">Non hai un account?</p>
      <button class="btn btn-outline-light" (click)="register()">Register</button>
    </div>



  </div>

</div>
