<app-navbar></app-navbar>

<div class="flex">
  <aside id="sidebar-multi-level-sidebar" class="top-0 left-0 z-40 w-64 min-vh-100 transition-transform -translate-x-full sm:translate-x-0 bg-gray-50" aria-label="Sidebar">
    <div class="h-full px-3 py-4 overflow-y-auto">

      <label class="text-center font-bold text-2xl ml-[15px] mb-[20px]">Admin Panel</label>

      <ul class="space-y-2 font-medium p-0">


        <li>
          <a href="#" class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group no-underline" (click)="showElement('allOpere', $event)">
            <div class="group">
              <svg class="icon text-gray-500" fill="currentColor" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M512 256c0 .9 0 1.8 0 2.7c-.4 36.5-33.6 61.3-70.1 61.3L344 320c-26.5 0-48 21.5-48 48c0 3.4 .4 6.7 1 9.9c2.1 10.2 6.5 20 10.8 29.9c6.1 13.8 12.1 27.5 12.1 42c0 31.8-21.6 60.7-53.4 62c-3.5 .1-7 .2-10.6 .2C114.6 512 0 397.4 0 256S114.6 0 256 0S512 114.6 512 256zM128 288a32 32 0 1 0 -64 0 32 32 0 1 0 64 0zm0-96a32 32 0 1 0 0-64 32 32 0 1 0 0 64zM288 96a32 32 0 1 0 -64 0 32 32 0 1 0 64 0zm96 96a32 32 0 1 0 0-64 32 32 0 1 0 0 64z"/></svg>
            </div>
            <span class="flex-1 ms-3 whitespace-nowrap text-black">Opere</span>
          </a>
        </li>
        <li>
          <a href="#" class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group no-underline" (click)="showElement('allArtist', $event)">
            <svg class="icon text-gray-500" fill="currentColor" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><!--!Font Awesome Free 6.7.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2025 Fonticons, Inc.--><path d="M224 256A128 128 0 1 0 224 0a128 128 0 1 0 0 256zm-45.7 48C79.8 304 0 383.8 0 482.3C0 498.7 13.3 512 29.7 512l388.6 0c16.4 0 29.7-13.3 29.7-29.7C448 383.8 368.2 304 269.7 304l-91.4 0z"/></svg>
            <span class="flex-1 ms-3 whitespace-nowrap text-black">Artisti</span>
          </a>
        </li>
        <li>
          <a href="#" class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group no-underline" (click)="showElement('newArtista', $event)">
            <svg class="icon text-gray-500" fill="currentColor" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 512"><!--!Font Awesome Free 6.7.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2025 Fonticons, Inc.--><path d="M144 0a80 80 0 1 1 0 160A80 80 0 1 1 144 0zM512 0a80 80 0 1 1 0 160A80 80 0 1 1 512 0zM0 298.7C0 239.8 47.8 192 106.7 192l42.7 0c15.9 0 31 3.5 44.6 9.7c-1.3 7.2-1.9 14.7-1.9 22.3c0 38.2 16.8 72.5 43.3 96c-.2 0-.4 0-.7 0L21.3 320C9.6 320 0 310.4 0 298.7zM405.3 320c-.2 0-.4 0-.7 0c26.6-23.5 43.3-57.8 43.3-96c0-7.6-.7-15-1.9-22.3c13.6-6.3 28.7-9.7 44.6-9.7l42.7 0C592.2 192 640 239.8 640 298.7c0 11.8-9.6 21.3-21.3 21.3l-213.3 0zM224 224a96 96 0 1 1 192 0 96 96 0 1 1 -192 0zM128 485.3C128 411.7 187.7 352 261.3 352l117.3 0C452.3 352 512 411.7 512 485.3c0 14.7-11.9 26.7-26.7 26.7l-330.7 0c-14.7 0-26.7-11.9-26.7-26.7z"/></svg>
            <span class="flex-1 ms-3 whitespace-nowrap text-black">Gestisci Artisti</span>
          </a>
        </li>
        <li>
          <a href="#" class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group no-underline" (click)="showElement('newOpera', $event)">
            <svg class="text-gray-500" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="4" stroke-linecap="round" stroke-linejoin="round"><path d="M20 14.66V20a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V6a2 2 0 0 1 2-2h5.34"></path><polygon points="18 2 22 6 12 16 8 16 8 12 18 2"></polygon></svg>
            <span class="flex-1 ms-3 whitespace-nowrap text-black">Gestisci Opera</span>
          </a>
        </li>
        <li>
          <a href="#" class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group no-underline" (click)="showElement('Aree', $event)">
            <svg class="text-gray-500" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="4" stroke-linecap="round" stroke-linejoin="round"><path d="M3 9l9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"></path><polyline points="9 22 9 12 15 12 15 22"></polyline></svg>
            <span class="flex-1 ms-3 whitespace-nowrap text-black">Gestisci Aree</span>
          </a>
        </li>


      </ul>
    </div>
  </aside>

  <div class="bg-white ground w-full ">

    <div class="">


      <div *ngIf="visibleElement === 'allOpere'" >

        <app-list-opere></app-list-opere>

      </div>

      <div *ngIf="visibleElement === 'allArtist'">

        <app-list-artisti></app-list-artisti>

      </div>

      <div *ngIf="visibleElement === 'newArtista'">


        <div class="bg-gray-200 w-full h-[700px] flex justify-center">

          <div class="">

            <div class="mt-6 mb-6">
              <h1 class="text-center">Nuovo Artista</h1>
            </div>

            <div class=" w-[1000px] h-[500px] flex rounded-3xl">

              <div class=" bg-slate-600 w-[400px] h-[500px] rounded-l-3xl">

                <div class="border-2 border-dashed border-gray-400 rounded-l-3xl p-8 text-center h-[500px] w-[400px]" *ngIf="!previewImage" (drop)="onFileDrop($event)" (dragover)="onDragOver($event)" (dragleave)="onDragLeave($event)" [class.bg-blue-100]="isDragging">
                  <div class="flex justify-center">
                    <svg class="mt-3 mb-32" xmlns="http://www.w3.org/2000/svg" width="200" height="200" viewBox="0 0 24 24" fill="none" stroke="#000000" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"><path d="M21.2 15c.7-1.2 1-2.5.7-3.9-.6-2-2.4-3.5-4.4-3.5h-1.2c-.7-3-3.2-5.2-6.2-5.6-3-.3-5.9 1.3-7.3 4-1.2 2.5-1 6.5.5 8.8m8.7-1.6V21"/><path d="M16 16l-4-4-4 4"/></svg>
                  </div>
                  <p class="text-black mb-2">Trascina qui un'immagine o clicca per selezionarla</p>
                  <input type="file" id="fileInput" accept="image/*" (change)="onFileSelect($event)" hidden>
                  <button type="button" class="btn btn-primary" (click)="triggerFileSelect()">Scegli File</button>
                </div>

                <!-- Preview Area -->
                <div class="text-center" *ngIf="previewImage">
                  <img [src]="previewImage" alt="Anteprima" class="w-[500px] h-[500px]  object-cover rounded-l-3xl shadow-md mx-auto">
                  <button class="btn btn-danger mt-5" (click)="removeImage()">Rimuovi Immagine</button>
                </div>
              </div>

              <div class="form w-[600px] h-[500px] bg-gray-300 rounded-r-3xl flex items-center justify-center">

                <div>

                  <div class="mt-2">
                    <label class="block mb-2 text-sm font-medium text-gray-900 ">Nome Artista</label>
                    <input [(ngModel)]="newArtista.name"  type="text" placeholder="Nome Artista" class="rounded-md">
                  </div>

                  <div class="mt-4">
                    <label class="block mb-2 text-sm font-medium text-gray-900 ">Cognome</label>
                    <input [(ngModel)]="newArtista.cognome"  type="text" placeholder="Cognome Artista" class="rounded-md">
                  </div>

                  <div class="mt-4">
                    <label class="block mb-2 text-sm font-medium text-gray-900 ">Data di Nascita</label>
                    <input [(ngModel)]="newArtista.dataDiNascita"  type="date" placeholder="Data Di Nascita" class="rounded-md">
                  </div>

                  <div class="mt-4">
                    <label class="block mb-2 text-sm font-medium text-gray-900 ">Luogo Di Nascita</label>
                    <input [(ngModel)]="newArtista.luogoDiNascita"  type="text" placeholder="Luogoo di Nascita" class="rounded-md">
                  </div>

                  <div class="mt-4 mb-2">
                    <label class="block mb-2 text-sm font-medium text-gray-900 ">Data Di Morte</label>
                    <input [(ngModel)]="newArtista.dataDiMorte"  type="date" placeholder="Data Di Morte" class="rounded-md">
                  </div>

                </div>

              </div>

              <button class="btn btn-success ease-in-out" type="button" *ngIf="previewImage" (click)="nuovoArtista()">Inserisci</button>

            </div>

          </div>

        </div>

        <div class="bg-gray-200 w-full h-[700px] flex justify-center">

          <div class="">

            <div class="mt-6 mb-6 flex justify-center">
              <h1 class="text-center mr-20 ">Modifica Artista</h1>

              <div class="flex">
                <div class="del mt-4 ml-20">
                  <div class="w-[400px]  ">
                    <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Seleziona Artista</label>
                    <select [(ngModel)]="artistaDaMod" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                      <option *ngFor="let art of data.lista" [value]="art.id">{{art.nome}} {{art.cognome}}</option>
                    </select>
                  </div>
                </div>
                <button class="btn btn-dark h-[42px] mt-[52px]" (click)="prendiDati()">Cerca</button>
              </div>

            </div>

            <div class=" w-[1000px] h-[500px] flex rounded-3xl">

              <div class=" bg-slate-600 w-[400px] h-[500px] rounded-l-3xl">

                <!-- Preview Area -->
                <div class="text-center" *ngIf="previewImageMod">
                  <img [src]="previewImageMod" alt="Anteprima" class="w-[500px] h-[500px]  object-cover rounded-l-3xl shadow-md mx-auto">
                </div>
              </div>

              <div class="form w-[600px] h-[500px] bg-gray-300 rounded-r-3xl flex items-center justify-center">

                <div>

                  <div class="mt-2">
                    <label class="block mb-2 text-sm font-medium text-gray-900 ">Nome Artista</label>
                    <input [(ngModel)]="artDaMod.name"  type="text" placeholder="Nome Artista" class="rounded-md">
                  </div>

                  <div class="mt-4">
                    <label class="block mb-2 text-sm font-medium text-gray-900 ">Cognome</label>
                    <input [(ngModel)]="artDaMod.cognome"  type="text" placeholder="Cognome Artista" class="rounded-md">
                  </div>

                  <div class="mt-4">
                    <label class="block mb-2 text-sm font-medium text-gray-900 ">Data di Nascita</label>
                    <input [(ngModel)]="artDaMod.dataDiNascita"  type="date" placeholder="Data Di Nascita" class="rounded-md">
                  </div>

                  <div class="mt-4">
                    <label class="block mb-2 text-sm font-medium text-gray-900 ">Luogo Di Nascita</label>
                    <input [(ngModel)]="artDaMod.luogoDiNascita"  type="text" placeholder="Luogoo di Nascita" class="rounded-md">
                  </div>

                  <div class="mt-4 mb-2">
                    <label class="block mb-2 text-sm font-medium text-gray-900 ">Data Di Morte</label>
                    <input [(ngModel)]="artDaMod.dataDiMorte"  type="date" placeholder="Data Di Morte" class="rounded-md">
                  </div>

                </div>

              </div>

              <button class="btn btn-success ease-in-out" type="button" *ngIf="previewImageMod" (click)="modificaArtista()">Inserisci</button>

            </div>

          </div>

        </div>

        <div class="bg-gray-200 w-full h-[700px] flex justify-center">

          <div class="">

            <div class="mt-6 mb-6 flex justify-center">
              <h1 class="text-center mr-20 ">Elimina Artista</h1>

              <div class="flex">
                <div class="del mt-4 ml-20">
                  <div class="w-[400px]  ">
                    <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Seleziona Artista</label>
                    <select [(ngModel)]="artistaDaMod" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                      <option *ngFor="let art of data.lista" [value]="art.id">{{art.nome}} {{art.cognome}}</option>
                    </select>
                  </div>
                </div>
                <button class="btn btn-dark h-[42px] mt-[52px]" (click)="prendiDatiDel()">Cerca</button>
              </div>

            </div>

            <div class=" w-[1000px] h-[500px] flex rounded-3xl">

              <div class=" bg-slate-600 w-[400px] h-[500px] rounded-l-3xl">

                <!-- Preview Area -->
                <div class="text-center" *ngIf="previewImageDel">
                  <img [src]="previewImageDel" alt="Anteprima" class="w-[500px] h-[500px]  object-cover rounded-l-3xl shadow-md mx-auto">
                </div>
              </div>

              <div class="form w-[600px] h-[500px] bg-gray-300 rounded-r-3xl flex items-center justify-center">

                <div>

                  <div class="mt-2 cursor-not-allowed">
                    <label class="block mb-2 text-sm font-medium text-gray-900 cursor-not-allowed">Nome Artista</label>
                    <input [(ngModel)]="artDaDel.name"  type="text" placeholder="Nome Artista" class="rounded-md cursor-not-allowed" disabled readonly>
                  </div>

                  <div class="mt-4 cursor-not-allowed">
                    <label class="block mb-2 text-sm font-medium text-gray-900 cursor-not-allowed">Cognome</label>
                    <input [(ngModel)]="artDaDel.cognome"  type="text" placeholder="Cognome Artista" class="rounded-md cursor-not-allowed">
                  </div>

                  <div class="mt-4 cursor-not-allowed">
                    <label class="block mb-2 text-sm font-medium text-gray-900 cursor-not-allowed">Data di Nascita</label>
                    <input [(ngModel)]="artDaDel.dataDiNascita"  type="date" placeholder="Data Di Nascita" class="rounded-md cursor-not-allowed">
                  </div>

                  <div class="mt-4 cursor-not-allowed">
                    <label class="block mb-2 text-sm font-medium text-gray-900 cursor-not-allowed">Luogo Di Nascita</label>
                    <input [(ngModel)]="artDaDel.luogoDiNascita"  type="text" placeholder="Luogoo di Nascita" class="rounded-md cursor-not-allowed">
                  </div>

                  <div class="mt-4 mb-2 cursor-not-allowed">
                    <label class="block mb-2 text-sm font-medium text-gray-900 cursor-not-allowed">Data Di Morte</label>
                    <input [(ngModel)]="artDaDel.dataDiMorte"  type="date" placeholder="Data Di Morte" class="rounded-md cursor-not-allowed">
                  </div>

                </div>

              </div>

              <button class="btn btn-danger ease-in-out" type="button" *ngIf="previewImageDel" (click)="eliminaArtista()">Elimina</button>

            </div>

          </div>

        </div>

      </div>

      <div *ngIf="visibleElement === 'newOpera'">

        <div class="bg-gray-200 w-full h-[700px] flex justify-center">


          <div>

            <div class="mt-6 mb-6">
              <h1 class="text-center">Nuovo Opera</h1>
            </div>

            <div class=" w-[1000px] h-[500px] flex rounded-3xl">

              <div class=" bg-slate-600 w-[400px] h-[500px] rounded-l-3xl">

                <div class="border-2 border-dashed border-gray-400 rounded-l-3xl p-8 text-center h-[500px] w-[400px]" *ngIf="!previewImage" (drop)="onFileDrop($event)" (dragover)="onDragOver($event)" (dragleave)="onDragLeave($event)" [class.bg-blue-100]="isDragging">
                  <div class="flex justify-center">
                    <svg class="mt-3 mb-32" xmlns="http://www.w3.org/2000/svg" width="200" height="200" viewBox="0 0 24 24" fill="none" stroke="#000000" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"><path d="M21.2 15c.7-1.2 1-2.5.7-3.9-.6-2-2.4-3.5-4.4-3.5h-1.2c-.7-3-3.2-5.2-6.2-5.6-3-.3-5.9 1.3-7.3 4-1.2 2.5-1 6.5.5 8.8m8.7-1.6V21"/><path d="M16 16l-4-4-4 4"/></svg>
                  </div>
                  <p class="text-black mb-2">Trascina qui un'immagine o clicca per selezionarla</p>
                  <input type="file" id="fileInput" accept="image/*" (change)="onFileSelect($event)" hidden>
                  <button type="button" class="btn btn-primary" (click)="triggerFileSelect()">Scegli File</button>
                </div>

                <!-- Preview Area -->
                <div class="text-center" *ngIf="previewImage">
                  <img [src]="previewImage" alt="Anteprima" class="w-[500px] h-[500px]  object-cover rounded-l-3xl shadow-md mx-auto">
                  <button class="btn btn-danger mt-5" (click)="removeImage()">Rimuovi Immagine</button>
                </div>
              </div>

              <div class="form w-[600px] h-[500px] bg-gray-300 rounded-r-3xl flex items-center justify-center">

                <div>

                  <div class="mt-2">
                    <label class="block mb-2 text-sm font-medium text-gray-900 ">Titolo Opera</label>
                    <input [(ngModel)]="newOpera.title"  type="text" placeholder="Titolo Opera" class="rounded-md">
                  </div>

                  <div class="mt-4">
                    <label class="block mb-2 text-sm font-medium text-gray-900 ">Anno di Creazione</label>
                    <input [(ngModel)]="newOpera.anno"  type="number" placeholder="Anno" class="rounded-md">
                  </div>

                  <div class="mt-4">
                    <label class="block mb-2 text-sm font-medium text-gray-900 ">Tecnica</label>
                    <input [(ngModel)]="newOpera.tecnica"  type="text" placeholder="tecnica usata" class="rounded-md">
                  </div>

                  <div class="del mt-4">
                    <div class="max-w-sm mx-auto">
                      <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Seleziona Artista</label>
                      <select [(ngModel)]="artistaSelezionato" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                        <option *ngFor="let art of data.lista" [value]="art.id">{{art.nome}} {{art.cognome}}</option>
                      </select>
                    </div>
                  </div>



                </div>

              </div>

              <button class="btn btn-success ease-in-out" type="button" *ngIf="previewImage" (click)="nuovaOpera()">Inserisci</button>

            </div>

          </div>


        </div>

        <div class="bg-gray-200 w-full h-[700px] flex justify-center">

          <div class="">

            <div class="mt-6 mb-6 flex justify-center">
              <h1 class="text-center mr-20 ">Modifica Opera</h1>

              <div class="flex">
                <div class="del mt-4 ml-20">
                  <div class="w-[400px]  ">
                    <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Seleziona Opera</label>

                    <!-- mi serve la lista di tutte le opere -->

                    <select [(ngModel)]="operaDaMod" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                      <option *ngFor="let art of listaOp" [value]="art.id">{{art.title}}</option>
                    </select>
                  </div>
                </div>
                <button class="btn btn-dark h-[42px] mt-[52px]" (click)="prendiDatiOpera()">Cerca</button>
              </div>

            </div>

            <div class=" w-[1000px] h-[500px] flex rounded-3xl">

              <div class=" bg-slate-600 w-[400px] h-[500px] rounded-l-3xl">

                <!-- Preview Area -->
                <div class="text-center" *ngIf="previewImageModOp">
                  <img [src]="previewImageModOp" alt="Anteprima" class="w-[500px] h-[500px]  object-cover rounded-l-3xl shadow-md mx-auto">
                </div>
              </div>

              <div class="form w-[600px] h-[500px] bg-gray-300 rounded-r-3xl flex items-center justify-center">

                <div class="flex flex-col items-center w-full">

                  <div class="mt-2 w-full max-w-[400px]">
                    <label class="block mb-2 text-sm font-medium text-gray-900">Titolo</label>
                    <input [(ngModel)]="opDaMod.title" type="text" placeholder="Titolo Opera"
                           class="rounded-md w-full p-2 border border-gray-400">
                  </div>

                  <div class="mt-4 w-full max-w-[400px]">
                    <label class="block mb-2 text-sm font-medium text-gray-900">Anno</label>
                    <input [(ngModel)]="opDaMod.anno" type="number" placeholder="Anno Creazione"
                           class="rounded-md w-full p-2 border border-gray-400">
                  </div>

                  <div class="mt-4 w-full max-w-[400px]">
                    <label class="block mb-2 text-sm font-medium text-gray-900">Seleziona Artista</label>
                    <select [(ngModel)]="artOpSelected" [value]="opDaMod.id"
                            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg
                     focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5">
                      <option *ngFor="let art of data.lista" [value]="art.id">{{ art.nome }} {{ art.cognome }}</option>
                    </select>
                  </div>

                  <div class="mt-4 mb-2 w-full max-w-[400px]">
                    <label class="block mb-2 text-sm font-medium text-gray-900">Tecnica</label>
                    <input [(ngModel)]="opDaMod.tecnica" type="text" placeholder="Tecnica"
                           class="rounded-md w-full p-2 border border-gray-400">
                  </div>

                </div>

              </div>


              <button class="btn btn-success ease-in-out" type="button" *ngIf="previewImageModOp" (click)="modificaOpera()">Inserisci</button>

            </div>

          </div>

        </div>

        <div class="bg-gray-200 w-full h-[700px] flex justify-center">

          <div class="">

            <div class="mt-6 mb-6 flex justify-center">
              <h1 class="text-center mr-20 ">Elimina Opera</h1>

              <div class="flex">
                <div class="del mt-4 ml-20">
                  <div class="w-[400px]  ">
                    <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Seleziona Opera</label>
                    <select [(ngModel)]="operaDaDel" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                      <option *ngFor="let art of listaOp" [value]="art.id">{{art.title}}</option>
                    </select>
                  </div>
                </div>
                <button class="btn btn-dark h-[42px] mt-[52px]" (click)="prendiDatiOperaDel()">Cerca</button>
              </div>

            </div>

            <div class=" w-[1000px] h-[500px] flex rounded-3xl">

              <div class=" bg-slate-600 w-[400px] h-[500px] rounded-l-3xl">


                <div class="text-center" *ngIf="previewImageDelOp">
                  <img [src]="previewImageDelOp" alt="Anteprima" class="w-[500px] h-[500px]  object-cover rounded-l-3xl shadow-md mx-auto">
                </div>
              </div>

              <div class="form w-[600px] h-[500px] bg-gray-300 rounded-r-3xl flex items-center justify-center">

                <div class="flex flex-col items-center w-full">

                  <div class="mt-2 w-full max-w-[400px] cursor-not-allowed">
                    <label class="block mb-2 text-sm font-medium text-gray-900 cursor-not-allowed">Titolo</label>
                    <input [(ngModel)]="opDaDel.title" type="text" placeholder="Titolo Opera"
                           class="rounded-md w-full p-2 border border-gray-400 cursor-not-allowed "
                           disabled readonly>
                  </div>

                  <div class="mt-4 w-full max-w-[400px] cursor-not-allowed">
                    <label class="block mb-2 text-sm font-medium text-gray-900 cursor-not-allowed">Anno</label>
                    <input [(ngModel)]="opDaDel.anno" type="number" placeholder="Anno Creazione"
                           class="rounded-md w-full p-2 border border-gray-400 cursor-not-allowed"
                           disabled readonly>
                  </div>

                  <div class="mt-4 w-full max-w-[400px] cursor-not-allowed">
                    <label class="block mb-2 text-sm font-medium text-gray-900 cursor-not-allowed">Seleziona Artista</label>
                    <select [(ngModel)]="artOpSelected" [value]="opDaDel.id"
                            class=" border border-gray-300 text-gray-900 text-sm rounded-lg
                     focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 cursor-not-allowed" disabled readonly>
                      <option *ngFor="let art of data.lista" [value]="art.id">{{ art.nome }} {{ art.cognome }}</option>
                    </select>
                  </div>

                  <div class="mt-4 mb-2 w-full max-w-[400px] cursor-not-allowed">
                    <label class="block mb-2 text-sm font-medium text-gray-900 cursor-not-allowed">Tecnica</label>
                    <input [(ngModel)]="opDaDel.tecnica" type="text" placeholder="Tecnica"
                           class="rounded-md w-full p-2 border border-gray-400 cursor-not-allowed"
                           disabled readonly>
                  </div>

                </div>

              </div>


              <button class="btn btn-danger ease-in-out" type="button" *ngIf="previewImageDelOp" (click)="eliminaOpera()">Elimina</button>

            </div>

          </div>

        </div>

      </div>


      <div *ngIf="visibleElement === 'Aree'">


        <div class="bg-gray-200 w-full h-[700px] flex justify-center">

          <div class="">

            <div class="mt-6 mb-6">
              <h1 class="text-center">Gestisci aree</h1>
            </div>

            <div class=" flex rounded-3xl">

              <div class="w-[450px] h-[500px] bg-slate-600 rounded-l-3xl flex justify-center items-center">

                <div>

                  <div class="">
                    <label class="block mb-2 text-sm font-medium text-gray-900 ">Nome Area</label>
                    <input [(ngModel)]="newArea.name"  type="text" placeholder="Nome Area" class="rounded-md">
                  </div>

                  <div class="del mt-3">
                    <div class="max-w-sm mx-auto">
                      <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Seleziona Curatore</label>
                      <select [(ngModel)]="curaSelezionato" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                        <option *ngFor="let art of dataCura" [value]="art.id">{{art.name}} {{art.cognome}}</option>
                      </select>
                    </div>
                  </div>

                  <div class="mt-4">
                    <button class="btn btn-success" [disabled]="!curaSelezionato" (click)="creaArea()">Crea Area</button>
                  </div>

                </div>

              </div>

              <div class="w-[450px] h-[500px] bg-gray-300 rounded-r-3xl flex items-center justify-center">

                <div class="">


                  <div class="">
                    <div class=" w-[300px] ">
                      <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Seleziona Area</label>
                      <select [(ngModel)]="areaSelezionata" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                        <option *ngFor="let art of aree" [value]="art.id">{{art.name}}</option>
                      </select>
                    </div>
                  </div>

                  <div class="mt-10">
                    <button class="btn btn-success" [disabled]="!areaSelezionata" (click)="cancellaArea()">Crea Area</button>
                  </div>

                </div>

              </div>


            </div>

          </div>

        </div>


        <div class="bg-gray-200 w-full h-[700px] flex justify-center">

          <div class="">

            <div class="mt-6 mb-6">
              <h1 class="text-center">Aggiungi Quadro ad aree</h1>
            </div>

            <div class=" flex rounded-3xl">

              <div class="w-[450px] h-[500px] bg-slate-600 rounded-3xl flex justify-center items-center">

                <div class="">

                  <div class="">
                    <div class=" w-[300px] ">
                      <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Seleziona Quadro</label>
                      <select [(ngModel)]="quadroDaAggiungere" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                        <option *ngFor="let art of quadriFiltrati" [value]="art.id">{{art.title}}</option>
                      </select>
                    </div>
                  </div>

                  <div class="">
                    <div class=" w-[300px] ">
                      <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Seleziona Area</label>
                      <select [(ngModel)]="areaSelezionataAcuiAggiungere" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                        <option *ngFor="let art of aree" [value]="art.id">{{art.name}}</option>
                      </select>
                    </div>
                  </div>

                  <div class="mt-10">
                    <button class="btn btn-success" [disabled]="!areaSelezionataAcuiAggiungere && !quadroDaAggiungere" (click)="aggiungiAdArea()">Aggiungi</button>
                  </div>

                </div>

              </div>


            </div>

          </div>

        </div>


      </div>



    </div>

  </div>

</div>

<app-footer></app-footer>
